body {
    background-color: #cdd1ce;
    font-size: 16px;
}
.content {
    background-image: url("ic-logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width:auto;
    height: auto;
}