body {
    background-color: #cdd1ce;
    font-size: 16px;
}

    @media screen and (min-width: 1025px) {
        .desktop-logo {
        margin-left: 2rem;
        font-size: 1.5rem;
        color: #4a4a4a;
        font-family: 'Roboto Mono', monospace;
    }
    @media screen and (max-width: 1024px) {
        .desktop-logo {
        display: none;
        }
    }
}

    @media screen and (min-width: 1025px) {
        .desktop {
        width: 100%;
        height: 85px;
        }
        .ul {
            margin-left: 1.75rem;
            margin-right: 1.75rem;
            z-index: 99;
            float: right;            
        }
        .desktop li {
            float: right;
            list-style-type: none;
        }
        .desktop a {
            color: #4a4a4a;
            font-size: 1rem;
            font-family:'Roboto', sans-serif;
            line-height: 1.6;
            padding-right: 45px;
            text-decoration: none;            
        }
    }
    @media screen and (max-width: 1024px) {
        .desktop {
        display: none;
        }
    }
.icon {
    height: 20px;
    width: 20px;
    margin-left: 15px;
}
.content-header {
    background-color: white;
    height: 85px;
    position: fixed;
    width: 100%;
    display:block;
    left: 0;
    top: 0;
    padding-bottom: 27px;
    padding-top: 27px;
    box-sizing: border-box;
    overflow: hidden;
}
.content-header span {
    float: left;
}
.main-content {
    display:flexbox;
    width: auto;
    height: 680px;
    margin: 0;
    padding: 0;
    justify-items: center;
    background-image: url("banner-landingpage.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    margin-top: 86px;
    padding-top: 170px;
    padding-bottom: 170px;
}

.content-footer {
    background-color: #9B9B9B;
    color: white;
    font-size: 12px;
    font-family: Roboto-Regular;
    height: 62px;
    padding-left: 32px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
}
@media screen and (min-width: 1025px) {
    .mobile {
        display: none;
    }
}
.banner {
    margin-left: 100px;
    text-align: center;
}
#sign-up-cta {
    background-color: #9DC20A;
    border: 1px solid #979797;
    border-radius: 4px;
    height: 340px;
    width: 568px;
}
.cursive {
    margin-top: 32px;
    color: white;
    font-family: 'Damion', cursive;
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: lighter;
    font-style: oblique;
}
.striking {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 50px;
    line-height: 1.4;
    font-weight: lighter;
}
.email {
    color: white;
    font-size: 20px;
    font-family:'Roboto', sans-serif;
    line-height: 1.4;
}
.button {
    width: 408px;
    height: 64px;
    background-color: #4a4a4a;
    border-radius: 4px;
    margin-top: 26px;
    margin-bottom: 56px;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 15px;
    box-style: border-box;
    }
#features-section {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;   
    align-content: center;
    margin-bottom: 46px; 
    margin-top: 235px;
    }
    .feature {
        height: 635px;
        width: auto;
        padding: 32px;
        background-color: white;
        margin-left: 16px;
        margin-right: 16px;
        text-align: center;
    }
.image-container img {
    height: 65%;
    width: 100%;
    }
.content h2 {
        color: #4a4a4a;
        font-size: 36px;
        font-family:'Roboto', sans-serif;
        font-weight: 800;
        line-height: 1.2;
        margin-bottom: 0;
    }
.content h3 {
    color: #4a4a4a;
    font-size: 16px;
    font-family:'Roboto', sans-serif;
    font-weight: lighter;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}
.content {
    margin-top: 40px;
}
#filters-section {
    background-color: #4a4a4a;
    width: 100%;
    padding-bottom: 64px;
    padding-top: 64px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    color: white;
}
#filters-section h2 {
    opacity: 1;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 0;
}
#filters-section h3 {
    font-size: 16px;
    font-family: 'Roboto', 'sans serif';
    font-weight: lighter;
    margin-top: 0;
}
.filter-image-container {
    display: inline;
}
.filter-image-container img {
    width: 24.25%;
    height: auto;
    }
.content-center {
    margin-bottom: 64px;
}
.quote-content {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    color: #4a4a4a;
    font-size: 30px;
    font-family: 'Charm', cursive;
    margin-bottom: 63px;
}
.quote-content img {
    padding-left: 30px;
}
.content-footer {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 25px;
    height: 62px;
    box-sizing: border-box;
}
.copyright {
    color:white;
    font-size: 12px;
    font-family: 'Roboto', 'sans serif';
}
.location {
    color:white;
    font-size: 12px;
    font-family: 'Roboto', 'sans serif';
    float: right;
}