body {
    background-color: #cdd1ce;
    font-size: 16px;
}
.desktop-logo {
    @media screen and (min-width: 1025px) {
        margin-left: 2rem;
        font-size: 1.5rem;
        color: #4a4a4a;
        font-family: Roboto-Mono-Regular;
    }
}
.desktop {
    @media screen and (min-width: 1025px) {
        width: 100%;
        height: 85px;
        .ul {
            color: #4a4a4a;
            font-size: 1rem;
            font-family: Roboto-Regular;
            line-height: 1.6;
            float: right;
            margin-left: 1.75rem;
            margin-right: 1.75rem;
            display: inline;
        }
    }
    @media screen and (max-width: 1024) {
        display: none;
    }
}
.content {
    background-color: white;
    height: 85px;
    position: fixed;
    width: 100%;
    display:block;
}
.banner {
    background-image: url("banner-landingpage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
}